</body>

<script>
  function editPost(postText, index) {
    // Set the textarea value to the post text
    document.getElementById('postTextarea').value = postText;
    // Create a hidden input to store the index of the post being edited
    const hiddenInput = document.createElement('input');
    hiddenInput.type = 'hidden';
    hiddenInput.name = 'postIndex';
    hiddenInput.value = index;
    
    // Append the hidden input to the form
    const form = document.querySelector('form[action="/"]');
    form.appendChild(hiddenInput);
    
    // Change the button to save the updated content
    const button = form.querySelector('button[type="submit"]');
    button.innerText = 'Save Changes';
    button.setAttribute('formaction', '/update/' + index);
  }
</script>
<footer class="footer">
  <p>
    © 2024 Charles Joshua Lucero. All rights reserved. | Follow me on
    <a href="https://www.linkedin.com/in/charles-joshua-lucero-3095bb2a6/" target="_blank" rel="noopener noreferrer">LinkedIn</a>
    | View my portfolio at
    <a href="https://web-portfolio2024.vercel.app/" target="_blank" rel="noopener noreferrer">Web Portfolio</a>
  </p>
</footer>

</html>
